<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mini Boutique</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{style/main.css}">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="container">
    <h3 class="h3">Les créations de Bobby</h3>
    <h4 th:if="${statut} == 1" class="text-success text-center">L'article a bien été créé!</h4>
    <div class="row">

        <div th:each="article : ${articles}" class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" th:src="${article.photo1}">
                        <img class="pic-2" th:src="${article.photo2}">
                    </a>
                    <span class="product-discount-label" th:text="${article.dateCreation}"></span>
                </div>
                <div class="product-content">
                    <h3 class="title" th:text="${article.name}"></h3>
                    <div class="price" th:text="${article.price} + ' €'"></div>
                </div>
            </div>
        </div>

    </div>

</div>
<footer class="fixed-bottom p-2">
    <btn class="btn btn-sm btn-primary"><a href="/Creation" class="text-white">Ajouter un article</a></btn>
</footer>

<script type="text/javascript">

</script>
</body>